---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import config from '../../content/config/config.json';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={config.seo.title} description={config.seo.description} />
		<style>
			main {
				width: 960px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 3em 1em;
			}
			ul {
				list-style-type: none;
				padding: 0;
			}
			ul li {
				margin-bottom: 1rem;
			}
			a {
				text-decoration: none;
				color: rgb(var(--black));
				font-size: 1.5rem;
			}
			a:hover {
				color: rgb(var(--accent));
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<ul>
					{
						posts.map((post) => (
							<li>
								<a href={`/blog/${post.id}/`}>
									{post.data.title}
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
